<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>

<div class="wrapper">
  <nav class="navbar navbar-light" style="background-color: #6a31b4;">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/img/Ref2Gagavox.png" width="30" height="30" class="d-inline-block align-top">
      <strong style= "color:white"> Gagavox</strong>
    </a>    
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style= "color:white" routerLink="contact" ><strong>Contact</strong></a>
      </div>
  </nav>
  <!-- page content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>
